.start-banner {
  position: absolute;
  bottom: 20%;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  min-width: 45ch;
  color: #fff;
  background: linear-gradient(in oklab 90deg, #0000 0%, #0009 50%, #0000 100%);
  opacity: 0;
  z-index: 20;
  overflow: hidden;
  height: 2.5rem;
}
.start-banner p {
  white-space: nowrap;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
