@import "tailwindcss";

@font-face {
  font-family: "HYWenHei-85W";
  font-style: normal;
  font-weight: 300 800;
  font-display: auto;
  src: url("assets/HYWenHei-85W.woff2");
}

:root {
  font-family: "HYWenHei-85W", sans-serif;
  user-select: none;
}

@layer base {
  .h-dscreen {
    height: 100vh;
    height: 100dvh;
  }
}

h1 {
  @apply text-black dark:text-white text-5xl;
}

button {
  @apply dark:bg-sky-600 dark:hover:bg-sky-400 rounded-lg;
}

p {
  @apply text-zinc-200 dark:text-zinc-400 text-lg;
}

a {
  @apply p-0.5 rounded-md text-blue-400 hover:text-blue-300 underline transition-colors duration-500;
}
