@import "tailwindcss";

@font-face {
  font-family: "HYWenHei";
  font-style: normal;
  font-weight: 400;
  src: url("assets/HYWenHei-85W-LAT.woff2");
}

:root {
  font-family: "HYWenHei", sans-serif;
  user-select: none;
}

@layer base {
  .h-dscreen {
    height: 100vh;
    height: 100dvh;
  }
}
